.ipynb_checkpoints/
image-classification/__pycache__
image-classification/cifar-10-batches-py
image-classification/checkpoint
image-classification/image_classification.data-00000-of-00001
image-classification/image_classification.index
image-classification/image_classification.meta

*.p
*.gz
*.pyc
tv-script-generation/__pycache__
tv-script-generation/checkpoint
tv-script-generation/save.data-00000-of-00001
tv-script-generation/save.index
tv-script-generation/save.meta


face-generation/data
